@model AzureStore.Models.IndexViewModel

@{
    ViewBag.Title = "Azure Store Checkout";
}

<h1>Your Order</h1>
<label for="cart">You have selected the following products:</label>
@using (Html.BeginForm("Remove", "Home"))
{
    @Html.DropDownListFor(m => m.Products, new SelectList(Model.Products, "product"))
    <a href="javascript:document.forms[0].submit();">Remove product from cart</a>
}
